[Unit]
Description=Get most recent update of tjallo ZSHRC script
Documentation=https://github.com/tjallo/remote_settings

[Service]
Type=simple
ExecStart=~/github/remote_settings/scripts/addToBoot

[Install]
WantedBy=multi-user.target

